<section class="hero is-info is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Vehicle Registry
      </h1>
      <h2 class="subtitle">
        Edit Vehicle Data
      </h2>

    </div>
  </div>
</section>
<br>
<div class="container box column is-6 is-offset-3">
  <form ngNativeValidate (ngSubmit)="SubmitData()">
    <div class="field">
      <label for="regNo" class="label">Reg No:</label>
      <div class="control">
        <input type="text" required [(ngModel)]="vehicleToEdit.regNo" class="input" name="regNo" id="regNo"
          placeholder="Reg No">
      </div>
    </div>
    <div class="field">
      <label for="make" class="label">Make:</label>
      <div class="control">
        <input type="text" required ngModel class="input" [(ngModel)]="vehicleToEdit.make" name="make" id="make"
          placeholder="Make">
      </div>
    </div>
    <div class="field">
      <label for="model" class="label">Model :</label>
      <div class="control">
        <input type="text" required ngModel class="input" name="model" [(ngModel)]="vehicleToEdit.model" id="model"
          placeholder="Model">
      </div>
    </div>
    <div class="field">
      <label for="color" class="label">Color :</label>
      <div class="control">
        <input type="text" required ngModel class="input" name="color" [(ngModel)]="vehicleToEdit.color" id="color"
          placeholder="Color">
      </div>
    </div>
    <div class="field">
      <label for="engineNo" class="lable">Engine No:</label>
      <div class="control">
        <input type="text" required ngModel class="input" [(ngModel)]="vehicleToEdit.engineNo" name="engineNo"
          id=engineNo placeholder="Engine No">
      </div>
    </div>
    <div class="field">
      <label for="chasisNo" class="label">Chasis No:</label>
      <div class="control">
        <input type="text" required ngModel class="input" [(ngModel)]="vehicleToEdit.chasisNo" name="chasisNo"
          id="chasisNo" placeholder="Chasis No">
      </div>
    </div>
    <div class="field">
      <label for="dateOfPurchase" class="label">Date Of Purchase:</label>
      <div class="control">
        <input type="date" required ngModel class="input" name="dateOfPurchase" id="dateOfPurchase"
          placeholder="Date Of Purchase">
      </div>
    </div>
    <div class="field">
      <label for="active" class="label">Active? :</label>
      <div class="control">
        <div class="select">
          <select name="active" id="active" [(ngModel)]="vehicleToEdit.active">
            <option value="true">Active</option>
            <option value="false">Not Active</option>
          </select>
        </div>
      </div>
    </div>
    <div class="container">
      <input type="submit" class="button is-outlined is-info is-fullwidth" value="Save" />
    </div>
  </form>
</div>
<br>
<div class="container has-text-centered" style="margin-bottom: 10px;">
  <button  class="button is-outlined is-primary" (click)="GoBack()"> Go To Main</button>
</div>