<section class="hero is-info is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Vehicle Registry
      </h1>
      <h2 class="subtitle">
        Extracted data from excel
      </h2>
    </div>
  </div>
</section>
<br>
<div *ngIf="ShowLoader" class="column is-4 is-offset-4">
  <div class="sp sp-circle"></div>
  <p>Saving to Database</p>
</div>

<div *ngIf="!ShowLoader" class="box has-text-centered column is-6 is-offset-3">
  <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Reg No</th>
        <th>Model</th>
        <th>Make</th>
        <th>Color</th>
        <th>Engine No</th>
        <th>Chasis No</th>
        <th>Date Of Purchase</th>
        <th>Active</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let data of vehicles">
        <td>{{data.regNo}}</td>
        <td>{{data.model}}</td>
        <td>{{data.make}}</td>
        <td>{{data.color}}</td>
        <td>{{data.engineNo}}</td>
        <td>{{data.chasisNo}}</td>
        <td>{{data.dateOfPurchase}}</td>
        <td>{{data.active}}</td>
      </tr>
    </tbody>

  </table>
  <button class="button is-outlined is-primary" (click)="SaveAll()">Save To Database</button>
</div>
<div class="column is-4 is-offset-4 has-text-centered">
  <a class="button is-primary is-outlined" routerLink="/home">Go To Main</a>
</div>
